/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Tomorrow', sans-serif;
}

html {
  scroll-behavior: smooth;
  
/* Smooth Scrolling - "scroll-behavior: smooth" to the <html> element to enable smooth scrolling for the 
whole page (note: it is also possible to add it to a specific element/scroll container): */
}

nav {
    /* padding: 5px 20px; */
    display: flex;
}
.logo {
  flex: 2;
  padding-left: 2%;
}
.logo a {
  color: #0281B2;
}

/* #0281B2 colour palette
https://www.color-hex.com/color/0281b2
Shades of #0281b2
#0281b2
#0174a0
#01678e
#015a7c
#014d6a
#014059
#003347
#002635
#001923
#000c11

Tints of #0281b2
#0281b2
#1b8db9
#349ac1
#4da6c9
#67b3d0
#80c0d8
#99cce0
#b3d9e7
#cce5ef
#e5f2f7

*/
.navcenter {
  flex: 4;
}
/* .navblock {
  flex: 6;
} */
.menublock {
  flex: 6;
  padding-right: 2%;
}
ul {
    list-style-type: none;
}
a {
    color: #aaa;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    color: black;
}
.logo a:hover {
    text-decoration: none;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}


/* Desktop menu */
 @media all and (min-width: 900px) {
  .item {
      display: block;
      width: auto;
  }
  .item {
      order: 1;
  }
} 

.mainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* grid-template-rows: repeat(300px, 3); */
}
.card-container {
  width: 100%;
  height: 300px;

}
.card {
  /* width: 100%; */
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d ;
}
.card-container:hover .card {
  transform: rotateY(180deg);
}
.card figure {
  text-align: center;
  padding: 5px;
  width:100%;
  height: 100%;
  position: absolute;
}

.card .front {
  color: #fff;
  height: 100%;
  /* border: solid 1px #aaa; */
}
.card .back {
  padding-top: 40px;
  background: white;
  color: #aaa;
  /* border: solid 1px #aaa; */
  /* border: solid 4px #89ecda; */
  transform: rotateY(180deg);
}
img {
  width: 100%;
  /* height: 100%; */
  display: block;
} 
figure img {
  height: 100%;
}
.overlay {
  position: absolute;
  bottom: 1px;
  font-size: 18px;
  padding: 10px 5px;
  font-weight: bold;
  color: #000;
  /* opacity: 0.6; */
  width: 98%;
  text-align: center;
}

.dark {
  color: black;
  background-color: white;
  opacity: 0.5;
}

.light {
  color: white;
  background-color: black;
  opacity: 0.75;
}

/* .sectionItem:hover .overlay {
  display: block;
  bottom: 150px;
  font-size: 28px;
  font-weight: bold;
   color: black;
} */
footer {
  padding: 10px 0px;
  text-align: center;
  /* background: black; */
}
.footerContainer {
  display: flex;
}
.footer-item {
  flex: 1;
}
.fontAwesome {
  margin: 0 8px;
  /* color: #3bd6c6; */
  color: #67b3d0;
}
.footerContainer P {
  color: #aaa;
  font-weight: 600;
}
.skillsetContainer {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 10px 30px;
}

.skillsetContainer {
  color: #696969;
  font-weight: 800;
}
blockquote {
  display: block;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.25em;
  margin-left: 40px;
  margin-right: 40px;
}
cite {
  margin-left: 40px;
}
blockquote img {
  display: inline;
  width: 30px;
  height: 20px;
  
}
.pulse {
  animation: breathing 2s ease-in-out infinite;

}
.pulse h1 {
  margin-bottom: 15px;
}
.pulse h3 {
  margin-top: 15px;
}
.pulse p {
  text-align: start;
  padding-left: 30%;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.9);
    transform: scale(0.8);
  }
}

.header {
  width: 100%;
  height: 600px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 2.5rem;
  /* background: url(./images/blackusinglaptop.jpg); */
  background: url(./images/computercode.jpg);
  background-size: cover;
  text-align: center;
}
.headerText {
  color: #90C149;
  /* color: black; */
  padding-top: 10%;
  text-shadow: 0 0 3px #fff;
  /* text-shadow: 0 0 3px #fff; */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
.headerText span {
  color:#90C149;
  /* color: #000; */
  font-size: 6.5rem;
}
.title {
  /* -webkit-text-fill-color: white; Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  /* -webkit-text-stroke-color: #fff; */
}
/* .headerText span {
  animation: shadow-pulse 2s ease-in-out 10;
  border-radius: 5%;
}
@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
} */
.maincontent {
  width: 100%;
}

/* CSS for SectionHeader Component  */
.SectionHeader {
    margin-top: 35px;
    margin-bottom: 15px;
    background-size: cover;
    background: url('./images/blackblueswirl.jpg') no-repeat;
    /* background: url('./images/blackblueswirl.jpg') no-repeat fixed; */
    background-position: center;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    font: 800 2em  'Tomorrow', sans-serif;
}
/* CSS for SectionHeader Component  */
.contact {
  width: 40%;
  margin: 10px auto;
}
.contact form {
  background: #aaa;

}

.about {
  width: 80%;
  margin: 20px auto;
}

.about span {
  font-size: 20px;
  margin-left: 70px;
}
.about img {
  width: 10%;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
}
.bookquote {
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  body {
    /* background-color: lightblue; */
  }
  .logo {
    flex: 2;
    padding-left: 2%;
  }
  .navcenter {
    flex: 0;
  }
  .menublock {
    flex: 8;
    padding-right: 2%;
  }
}

